html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
	height: 100%;
    margin: 0px;
    padding: 0px;
    background: #151515;
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;
    font-weight: 300;
	color: #6c6c6c;
}

h1 {
    margin: 0.15em;
    padding: 0;
    font-weight: 600;
    color: #454445;
}

h2 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: #454445;
}

h3 {
    margin: 0.3em;
    padding-top: 0.3em;
    font-weight: 300;
    font-size: 1em;
    color: #454445;
    text-align: center;
}

.app-description {
    text-align: left;
}

ol,
ul {
    padding: 0;
    list-style: none;
}

p {
    line-height: 180%;
}

a {
    color: #068900;
}

a:hover {
    text-decoration: none;
}

.container {
    padding: 3.5em;
}

.list-container {
    padding: 0.5em;
}

.flex-container {
    margin: auto;
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.flex-item-1 {
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.flex-item-2 {
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.flex-item-3 {
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}


/*********************************************************************************/


/* Profile                                                                       */


/*********************************************************************************/

#profile {
    height: 12em;
    width: 12em;
    background-repeat: no-repeat;
    background-color: white;
    margin-top: 25px;
    margin-bottom: 15px;
}

#name {
    margin-bottom: 10px;
    font-size: 20pt;
}

#list {
    font-size: 13pt;
}

.col {
    text-align: center;
    padding-left: 0em;
    margin-top: 0.3em;
}

#social {
    height: 30px;
    width: 30px;
    margin-bottom: 15px;
}


/*********************************************************************************/


/* Button Style                                                                  */


/*********************************************************************************/

.button {
    display: block;
    padding: 1em 3em;
    background: #068900;
    -moz-transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
    letter-spacing: 0.20em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: #FFF;
}

.button:hover {
    -moz-transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
    background: #48ED22;
}

.button:active {
    -moz-transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
    background: #40D31F;
}

.button-big {
    padding: 1.6em 4em;
    font-size: 1.4em;
    font-weight: 900;
}

.btn-default {
    background-color: #475a7b;
    color: white;
}

.active {
    background-color: #202d45 !important;
    color: white;
}

.btn-default:hover {
    background-color: #202d45 !important;
    color: white;
}


/*********************************************************************************/


/* Activity Icon                                                                   */


/*********************************************************************************/

#icon {
    width: 30px;
    height: 30px;
    margin: 0.5em;
}

#icon-2 {
    width: 60px;
    height: 60px;
}

.activityList {
    background-color: lightgrey;
    height: 308px;
    margin-bottom: 50px;
    margin-top: 10px;
    border-radius: 5px;
}

.flex-activity-item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    width: 80%;
    height: 45px;
    margin: 0.7rem;
    background-color: white;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.flex-activity-item:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background-color: #7688a8;
}


/*********************************************************************************/


/* Header                                                                        */


/*********************************************************************************/

#header {
    position: relative;
    padding: 4em;
    background-image: url("images/Calculator-bg.jpg");
    background-position: bottom;
    background-size: cover;
}


/*********************************************************************************/


/* Logo                                                                          */


/*********************************************************************************/

#logo {
    position: absolute;
    top: 2em;
    width: 100%;
}

#logo h1 {
    display: inline-block;
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 700;
    color: #FFF;
}

#logo a {
    text-decoration: none;
    color: #FFF;
}


/*********************************************************************************/


/* Menu                                                                          */


/*********************************************************************************/

#menu {
    position: absolute;
    right: 5em;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#menu li {
    display: inline-block;
    text-align: center;
}

#menu li a,
#menu li span {
    display: block;
    margin: 0px 1px;
    padding: 0em 2em;
    letter-spacing: 0.20em;
    line-height: 57px;
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    outline: 0;
    color: #FFF;
}

#menu li:hover a,
#menu li.active a,
#menu li.active span {
    background: #202d45;
    color: #FFF;
}

#menu .current_page_item a {
    background: #202d45;
    color: #FFF;
}


/*********************************************************************************/


/* Page                                                                          */


/*********************************************************************************/

#wrapper {
    background: #FFF;
}


/*********************************************************************************/


/* Front Picture                                                                       */


/*********************************************************************************/

#people {
    height: 16em;
    width: 40em;
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
}


/*********************************************************************************/


/* Copyright                                                                     */


/*********************************************************************************/

#copyright {
    overflow: hidden;
}

#copyright p {
    letter-spacing: 0.15em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    color: #a5a1a1;
}

#copyright a {
    color: #8C8C8C;
}